body {
    margin: 0;
    padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}

/*Book boxes*/
#added-books {
    display: contents;
}

#books {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #ff0000 50%, transparent 50%);
}

.book:active {
    background-image: linear-gradient(to top, #ff0000 51%, transparent 50%);
    background-position: 0 100%;
    transition: background-position 3200ms;
}

.book, #add-book{
    display: block;
    border: solid 1px black;
    border-radius: 5px;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

    height: 20em;
    width: 13em;
    margin: 2em;
    padding: 1em;

    position: relative;
    z-index: 1;
}

#books .read {
    outline: solid 5px green;
}

.book hr {
    border: none;
    background-color: black;
    width: 80%;
    height: 2px;
    border-radius: 5px;
}

.book-title {
    font-weight: bold;
    text-align: center;
}

.book-author {
    font-style: italic;
    text-align: center;

    font-size: smaller;
}

.book-pages {
    font-size: xx-small;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#add-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-book #plus {
    font-size: 10em;
    text-align: center;
}


/* Modal */
#book-input-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 2;
}

.book-input {
    background-color: white;
    position: fixed;
    border-radius: 5px;

    top: 50%;
    left: 50%;
    
    height: 25rem;
    width: 15rem;
    padding: 3rem;
    padding-top: 1rem;
    transform: translate(-50%, -50%);

    opacity: 1;
    transition: opacity 100ms;
    display: flex;
    flex-direction: column;
}

.hide {
    opacity: 0;
}

.book-input label {
    padding-top: 0.5em;
}

.book-input input:not(input[type="submit"]) {
    background-color: white;

    border: solid 1px grey;
    border-radius: 4px;
}

/*Add book button*/
.book-input input[type="submit"] {
    border: solid 1px grey;
    border-radius: 4px;
    background-color: white;

    display: block;
    margin: 0 auto;
    margin-top: 8rem;

    width: 10em;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}

.header {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#close-button {
    position: absolute;
    right: 0.6rem;
    top: 0.4rem;

    font-size: 1.5em;

    transform: rotate(45deg);
    opacity: 0.2;

    transition-duration: 500ms;
    transition-property: opacity;
    cursor: pointer;
    }

#close-button:hover {
    opacity: 1;
}

#checkbox {
    display: inline;
    margin-top: 1em
}

.explanation {
    text-align: center;
}

